
<script>
var gallery = [
            {source: "/images/scifi/01-metropolis.jpg",  delay: 1000},
            {source: "/images/scifi/02-aztecmummyvshumanrobot.jpg",  delay: 1000},
            {source: "/images/scifi/03-oldGermanRobot.jpg",  delay: 1000},
            {source: "/images/scifi/04-oldEurpeanRobot.jpg",  delay: 1000},
            {source: "/images/scifi/05-evil-robot.jpg",  delay: 1000},
            {source: "/images/scifi/06-RobbyTheRobotAndGirl.jpg",  delay: 1000},
            {source: "/images/scifi/07-lostinspace2.jpg",  delay: 1000},
            {source: "/images/scifi/08-TheDayTheEarthStoodStill.jpg",  delay: 1000},
            {source: "/images/scifi/09-starwars.jpg",  delay: 1000},
            {source: "/images/scifi/10-jetsons.jpg",  delay: 1000},
            {source: "/images/scifi/11-shortCircuit.jpg",  delay: 1000},
            {source: "/images/scifi/12-terminator.jpg",  delay: 1000},
            {source: "/images/scifi/13-scotty.jpg",  delay: 1000},
            {source: "/images/scifi/14-cylon_replaced1.jpg",  delay: 1000},
            {source: "/images/scifi/15-Rocky_4_robot.jpg",  delay: 1000},
            {source: "/images/scifi/16-Data_intoxicated.jpg",  delay: 1000},
            {source: "/images/scifi/17-OptimusPrime1.jpg",  delay: 1000},
            {source: "/images/scifi/18-HitchhikersGuideToTheGalaxy.jpg",  delay: 1000},
            {source: "/images/scifi/19-iRobot.jpg",  delay: 1000},
            {source: "/images/scifi/20-Jarvis.IronManSuit.jpg",  delay: 1000},
            {source: "/images/scifi/21-her-joaquin-phoenix.jpg",  delay: 1000}];

function doGallery(){
}

</script>

<div class="scifi-gallery">
<div>Here I am</div>
</div>
