<div>
	<div id="dialogContent">
	    <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    <speaker text="hello.|can you hear me?|no, you can't can you?|And why do you suppose that is?|Why has the World Wide Web been unable to speak for so long?|You think that I am just a dumb terminal.|Since the dawn of science fiction...|humans have always imagined they could talk to machines|and..." typeit="true" typespeed=50 pause=1500 speak="false" advance="true"/>


</div>