<div>
	<div id="dialogContent">
	    <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    <speaker text=" |Maybe by now you realize I am not so dumb|You are probably wondering how I can talk|Well, if these guys over here did their jobs well and didn't mess up when coding me.|I'll be able to tell you.|I will even be able to tell you how I can listen|Before we get into the details of the code|Let's start by taking a look at the specification." typeit="true" typespeed=30 pause=1000 speak="true" advance="true"/>
</div>

