<div>
	<div id="dialogContent">
	    <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    <speaker 
            text=" |Maybe by now you realize I am not so dumb.|I am a single page web application|I figured what better way to present the Web Speech API than to have a web page that can present itself|I bet you are probably wondering how I can talk.|This is the Making Your Pages Speak presentation after all|Well, if these guys over here did their jobs well and didn't fill me up with bugs when coding me,|I'll be able to tell you how I can talk.|I will even be able to tell you how I can listen and how you can use that to drive your web applications.|Before we get into the details of the code...|let's start by taking a look at the specification." 
            typeit="true" typespeed=30 pause=1000 speak="true" advance="true"/>
</div>

