<div>
    <speaker text="Here are some links that you may want to check out|You can also find my code on github|This application was developed by Michael Luttrell, Rudy Ludena and Kevin Carlino" typeit="true" typespeed=30 pause=1000 speak="true" advance="false"/>
    <p>
        Web Speech API doc 
        <br />
            <a href="https://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html">
                https://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html
            </a>
    </p>
    
    <p>
        Come get this presentation on github at
        <br />
            <a href="https://github.com/geetaristo/webSpeech">
                https://github.com/geetaristo/webSpeech
            </a>
        <br /><br />
    </p>
    
    <p>
        Interesting Applications of the Web Speech API
        <br />
            <a href="https://www.peanutgalleryfilms.com/">
                https://www.peanutgalleryfilms.com/
            </a><br />
             <a href=" https://www.google.com/intl/en/chrome/demos/speech.html">
                 https://www.google.com/intl/en/chrome/demos/speech.html
            </a>
            
           
        <br /><br />
        
        Developers<br />
            <ul>
                <li>Michael Luttrell</li>
                <li>Rudy Ludena</li>
                <li>Kevin Carlino</li>
            </ul>
    </p>
</div>