<div>
	<div id="dialogContent">
	    <div id="textOut">><span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    <speaker text=" The specification was originally proposed by Google in 2010 in a paper authored by Satish Sampath and Bjorn Bringert.|The paper outlined a new specification for web browsers to produce speech from text...|and also produce text from Speech." typeit="true" typespeed=30 pause=500 speak="true" advance="true"/>
    <p>
    Web Speech API doc <br />
    <a href="http://www.w3.org/2005/Incubator/htmlspeech/2010/10/google-api-draft.html">
        http://www.w3.org/2005/Incubator/htmlspeech/2010/10/google-api-draft.html
    </a>
    <img src="/images/webSpeechAPIdraft.png" />
    </p>
</div>