<div>
	<div id="dialogContent">
	    <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    <speaker text="The final report was published in October 2012 by the W3C Community Group."
     typeit="true" typespeed=30 pause=1000 speak="true" advance="true" />
    <p>
        Web Speech API doc <br />
        <a href="https://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html">
            https://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html
        </a>
        <img src="/images/webSpeechAPIdoc.png" />
    </p>

</div>