<div>
	<div id="dialogContent">
	    <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    <speaker text="An easy way to handle that is to utilize the onend event notification."
        typeit="true" typespeed=20 pause=4000 speak="true" advance="true" voice="Google UK English Female"/>
  
    <pre> <code>
        var msg  = new SpeechSynthesisUtterance();
          
        msg.text = "I will tell you when I finish speaking.";
        scope.synthesis.onend = function(event) { console.log('finished speaking'); };
        speechSynthesis.speak(msg);
        
    </code> </pre>

</div>