<div>
	<div id="dialogContent">
	    <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    <speaker text="First|we will review the interfaces for how you can create speech from text in your webpages|Don't worry|we're going to go through each part|giving you just enough information to get you started"
        typeit="true" typespeed=20 pause=2000 speak="true" advance="true"/>
    <scrolldiv speed=13000 scrollwait=5200>
    <pre id="scrolly"><code>
    interface SpeechSynthesis {
      readonly attribute boolean pending;
      readonly attribute boolean speaking;
      readonly attribute boolean paused;

      void speak(SpeechSynthesisUtterance utterance);
      void cancel();
      void pause();
      void resume();
      SpeechSynthesisVoiceList getVoices();
    };

    [NoInterfaceObject]
    interface SpeechSynthesisGetter
    {
      readonly attribute SpeechSynthesis speechSynthesis;
    };

    Window implements SpeechSynthesisGetter;

    [Constructor,
     Constructor(DOMString text)]
    interface SpeechSynthesisUtterance : EventTarget {
      attribute DOMString text;
      attribute DOMString lang;
      attribute DOMString voiceURI;
      attribute float volume;
      attribute float rate;
      attribute float pitch;

      attribute EventHandler onstart;
      attribute EventHandler onend;
      attribute EventHandler onerror;
      attribute EventHandler onpause;
      attribute EventHandler onresume;
      attribute EventHandler onmark;
      attribute EventHandler onboundary;
    };

    interface SpeechSynthesisEvent : Event {
        readonly attribute unsigned long charIndex;
        readonly attribute float elapsedTime;
        readonly attribute DOMString name;
    };

    interface SpeechSynthesisVoice {
      readonly attribute DOMString voiceURI;
      readonly attribute DOMString name;
      readonly attribute DOMString lang;
      readonly attribute boolean localService;
      readonly attribute boolean default;
    };

    interface SpeechSynthesisVoiceList {
      readonly attribute unsigned long length;
      getter SpeechSynthesisVoice item(in unsigned long index);
    }
    
    
    
    
    
    </code></pre>
    </scrolldiv>
    <!-- img src="/images/speechRecognitionIface.PNG" -->

</div>