<div>
	<div id="dialogContent">
	    <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    <speaker text="The primary interface provided by the Web Speech API for listening to speech| is the Speech Recognition Interface. | It exposes three simple methods to start| stop |or abort listening| it also contains a number of attributes for configuring behaviour and registering event handlers| it is very simple to activate speech recognition"
        typeit="true" typespeed=20 pause=1500 speak="true" advance="true"/>
    
    <pre><code>
    interface SpeechRecognition : EventTarget {
        // recognition parameters
        attribute SpeechGrammarList grammars;
        attribute DOMString lang;
        attribute boolean continuous;
        attribute boolean interimResults;
        attribute unsigned long maxAlternatives;
        attribute DOMString serviceURI;

        // methods to drive the speech interaction
        void start();
        void stop();
        void abort();

        // event methods
        attribute EventHandler onaudiostart;
        attribute EventHandler onsoundstart;
        attribute EventHandler onspeechstart;
        attribute EventHandler onspeechend;
        attribute EventHandler onsoundend;
        attribute EventHandler onaudioend;
        attribute EventHandler onresult;
        attribute EventHandler onnomatch;
        attribute EventHandler onerror;
        attribute EventHandler onstart;
        attribute EventHandler onend;
    };
    
    </code></pre>

    <!-- img src="/images/speechRecognitionIface.PNG" -->

</div>




  