<div>
	<div id="dialogContent">
	    <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    <speaker text="Like this|In your JavaScript code, create a new instance of a SpeechSynthesisUtterance|and pass it to the speechSynthesis object's speak method."
        typeit="true" typespeed=20 pause=2000 speak="true" advance="true"/>

    <pre> <code>
        speechSynthesis.speak ( 
            new SpeechSynthesisUtterance(
                "This is what is producing my speech"));          
          
    </code> </pre>
</div>