<div>
	<div id="dialogContent">
	    <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    <speaker text="Simply create a new SpeechRecognition object and call the start() method.|The spec is still early in its adoption so a vendor prefix is required.| One more thing." 
        typeit="true" typespeed=20 pause=1500 speak="true" advance="true"/>
    
    <pre><code>
var recognition = new webkitSpeechRecognition();


recognition.start();
    
    </code></pre>

    <!-- img src="/images/speechRecognitionIface.PNG" -->

</div>