<div>
	<div id="dialogContent">
	    <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    
    <speaker text="I am actually an Angular application|and my text comes from an Angular directive.|My developers created three prime directives|ha ha ha|which are used to create most of my simple templates."
        typeit="true" typespeed=20 pause=1500 speak="true" advance="true" voice="Google UK English Female"/>
  
  <img src="/images/angularLogo.png" />

</div>