<div>
	<div id="dialogContent">
	    <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    <speaker text="Here's a look inside my code.|I am actually an Angular application|and my text comes from an Angular directive.|This is the markup this for this page.|Notice the speaker element.|This is the directive that is used for one of my pages where I speak|The text attribute is this text I am speaking|The other options are related to the caption that is output at the top|A pipe symbol is used to separate the phrases."
        typeit="true" typespeed=20 pause=1500 speak="true" advance="true"/>
    <pre> <code>
        <div id="dialogContent">
            <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
        </div>
        <speaker text="Here's a look inside my code.|I am actually an Angular application|and my text comes from an Angular directive.|This is the markup this for this page.|Notice the speaker element.|This is the directive that is used for one of my pages where I speak|The text attribute is this text I am speaking|The other options are related to the caption that is output at the top|A pipe symbol is used to separate the phrases."
            typeit="true" typespeed=20 pause=1500 speak="true" advance="true"/>
    </code> </pre>

</div>