<div>
	<div id="dialogContent">
	    <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    <speaker text="You will need to give me permission before I can actually start listening.| This is required by the security and privacy portion of the specification." 
        typeit="true" typespeed=20 pause=1500 speak="true" advance="true"/>
    

    <script type="text/javascript">
    var recognition = new webkitSpeechRecognition();
     recognition.start();
   
    </script>
   

</div>