<div>
	<div id="dialogContent">
	    <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    <speaker text="and treat SpeechSynthesis Utterance as a singleton.|Then you can set the text field to a new value|and reuse the object.|I can also change the way I sound by setting a new voice on my Utterance."
        typeit="true" typespeed=20 pause=1500 speak="true" advance="true"/>
    <pre> <code>
        var msg  = new SpeechSynthesisUtterance();
          
        msg.text = "Do what I do and simply set the text value";
        
        speechSynthesis.speak(msg);
        
        msg.text = "Then set it to the next thing you want to say";

        //I'm Bored and I want to sound British. ;-)
        msg.voice = speechSynthesis.getVoices().filter(function (voice) {
                        return voice.name == "Google UK English Female";
                    })[0];
        
        
        speechSynthesis.speak(msg);
        
        
        
    </code> </pre>

</div>