<div>
	<div id="dialogContent">
	    <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    <speaker text="Here's a look inside my code.|Notice the speaker element.|This is the directive that is used for some of my pages where I speak|The text attribute is this text I am speaking|The other options are related to the caption that is output at the top|A pipe symbol is used to separate the phrases.|The pause is how many milliseconds I will wait in between phrases."
        typeit="true" typespeed=20 pause=1500 speak="true" advance="true" />

    <img src="/images/speaker-directive.png" />
</div>