<div>
	<div id="dialogContent">
	    <div id="textOut">/$<span>{{commandline}}</span><span class="blink">_</span></div>
    </div>
    
    <speaker text="This is almost the end of this presentation|One of my developers will show you a little more detail in a few minutes.|I hope you have enjoyed this presentation.|It will be exciting to see future uses for the web speech API|and I hope you will be inspired to go get coding.|Soon, we may all be as comfortable talking with machines|as all those old sci-fi movies predicted we would.|It already seems to be coming closer with Siri|and Ok Google|I am sure that Michael will be happy to answer questions.|What will your pages say?|What will they understand?|What will they do with that understanding?" typeit="true" typespeed=30 pause=500 speak="true" advance="true"/>
    
    
</div>